//
// index.scss
// cloud-dessau.org
//
// © 2018 Johannes Jakob
// Made with <3 in Germany
//

// Imports

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// Variables

$color__cd-black: #000;
$color__cd-white: #fff;
$color__cd-cyan: #00a0e6; // R=0 G=160 B=230
$color__cd-cyan-light: #4cc9ff;
$color__cd-magenta: #e6007d; // R=230 G=0 B=125

$color__text-default: $color__cd-black;
$color__text-white: $color__cd-white;
$color__text-paragraph-default: lighten($color__text-default, 40%);

$color__background-body: $color__cd-white;

$color__facebook: #4267b2;
$color__instagram: #d93175;

$font-size__paragraph-default: .8em;

$size__max-width-content: 1200px;
$size__offset-main: 60px;
$size__max-width-article: 600px;
$size__width-concept-photos: 600px;

$value__box-shadow-base: 10px;

// Base

* {
  margin: 0;
	padding: 0;
	color: $color__text-default;
	letter-spacing: .01em;
	text-decoration: none;
	box-sizing: border-box;
	outline: none
}

body {
  background: $color__background-body;
  font-size: 16pt;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header, main, footer {
  margin: 0 auto;
  max-width: $size__max-width-content
}

header {
  border-bottom: 1px solid rgba($color__cd-black, .1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  & > a {
    margin: 1rem;
    display: block;

    img {
      max-height: 1.5em;
      display: block
    }
  }

  nav {
    width: 100%;

    ul {
      margin: 1rem 1rem 1rem 0;
      position: relative;
      list-style: none;
      display: flex;
      justify-content: flex-start;
  
      li {
        margin-left: 2rem;
  
        &:first-child {
          margin-left: 1rem
        }
  
        &:last-child {
          right: 0;
          position: absolute;
        }
      }
  
      a {
        color: lighten($color__text-default, 50%);
        text-transform: lowercase;
  
        &:hover {
          color: $color__text-default
        }
  
        img {
          width: 24px;
          border-radius: 2px;
          vertical-align: middle
        }
      }
    }
  }

  img {
    user-select: none;
    -webkit-user-drag: none
  }
}

main {
  margin: 2rem 1rem 4rem 1rem;

  article {
    margin: 0 auto 2rem auto;
    max-width: $size__max-width-article;
    
    div {
      padding: 1.5rem 2rem
    }

    h1 {
      margin-bottom: .5em;
      font-size: 1.2em;
      font-weight: 500
    }

    h2 {
      margin: .8em 0 .5em 0;
      font-size: 1em;
      font-weight: 500
    }

    h3 {
      margin: .5em 0;
      font-size: 1em;
      font-weight: 400
    }

    p {
      margin-bottom: 1em;
      color: $color__text-paragraph-default;
      font-size: .8em;
      line-height: 1.5;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto
    }

    img {
      width: 100%
    }
  }
}

footer {
  margin: 2rem 1rem;
  text-align: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin: 0 1.5rem
    }

    a {
      svg path {
        fill: lighten($color__cd-black, 75%)
      }

      &:hover svg path {
        fill: $color__cd-black
      }
    }
  }

  p {
    margin-top: 1rem;
    color: lighten($color__text-default, 60%);
    font-size: $font-size__paragraph-default;

    a {
      color: inherit;

      &:hover {
        color: lighten($color__text-default, 40%)
      }
    }
  }
}

// Classes

.main-concept {
  align-items: flex-start
}

.nav-li-active a {
  color: $color__text-default;
  font-weight: 700
}

.article-top-news {
  background: $color__background-body;
  box-shadow:0 0 1px rgba($color__cd-black, .2), 0 $value__box-shadow-base $value__box-shadow-base * 3 rgba($color__cd-black, .2);

  div {
    padding-top: 0
  }

  h1 {
    font-weight: 700
  }

  img {
    user-select: none;
    -webkit-user-drag: none
  }
}

.article-secondary {
  background: lighten($color__cd-black, 95%);

  h1 {
    letter-spacing: -.01em
  }
}

.article-imprint, .article-privacy {
  margin: 0;

  a {
    color: lighten($color__text-default, 20%);

    &:hover {
      color: $color__text-default
    }
  }
}

.article-concept {
  max-width: $size__max-width-article / 1.5;
  background: lighten($color__cd-black, 95%);

  figure {
    margin: 2rem -2rem -2rem -2rem;
  }
}

.ul-actions {
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  li {
    width: 50%; // Assuming two list items
    text-align: center;

    a {
      padding: 1.5rem 0;
      color: $color__text-paragraph-default;
      font-weight: 500;
      background: lighten($color__cd-black, 95%);
      display: block;
      transition: all .1s ease;

      &:hover {
        color: lighten($color__text-default, 20%);
        background: lighten($color__cd-black, 90%);
      }
    }
  }

  .li-action-primary a {
    color: $color__text-white;
    text-shadow: 0 $value__box-shadow-base / 5 $value__box-shadow-base rgba($color__cd-black, .1);
    background: linear-gradient(to right, $color__cd-cyan, $color__cd-cyan-light);

    &:hover {
      color: $color__text-white;
      background: linear-gradient(to right, darken($color__cd-cyan, 5%), darken($color__cd-cyan-light, 15%))
    }
  }
}

.ul-a-facebook:hover svg path {
  fill: $color__facebook
}

.ul-a-instagram:hover svg path {
  fill: $color__instagram
}

.ul-default {
  margin-left: 2rem;

  li {
    color: $color__text-paragraph-default;
    font-size: .8em;
    line-height: 1.5;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto
  }
}

.a-more:after {
  margin-left: .4em;
  width: 12px;
  height: 12px;
  content: "";
  background: url("/images/link_arrow.svg") no-repeat center center;
  display: inline-block
}

.a-mail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld)
}

.span-cloud {
  color: inherit;

  &:before {
    content: "["
  }

  &:after {
    content: "]"
  }
}

.span-collapsable {
  color: inherit
}

// Screen Size Adaptions

@media (min-width: 801px) {
  // Base

  header nav {
    width: unset;

    ul {
      position: unset;
      justify-content: flex-end;

      li:last-child {
        position: unset
      }
    }
  }

  main {
    margin: 2rem auto 4rem auto;
    max-width: $size__max-width-content + $size__offset-main * 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    article {
      margin: 2rem
    }
  }

  footer {
    margin: 4rem auto 2rem auto;
  }

  // Classes

  .article-top-news {
    margin: .5rem;
    z-index: 2
  }

  .article-secondary {
    position: relative;
    max-width: $size__max-width-article / 2;
    z-index: 1;

    &:before {
      left: -4rem;
      position: absolute;
      width: 4rem;
      height: 100%;
      content: "";
      background: inherit
    }
  }
}

@media (max-width: 500px) {
  .span-collapsable {
    display: none
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  .article-secondary p {
    column-count: 2;
    column-gap: 1.5rem
  }
}
