<footer>
  <ul class="social">
    <li>
      <a class="icon icon-instagram" href="https://instagram.com/cloud_dessau" title="Instagram"></a>
    </li>
    <li>
      <a class="icon icon-discord" href="https://discord.gg/DjSgmyU" title="Discord"></a>
    </li>
  </ul>
  <div class="footer-content">
    <p>
      {{ site.tagline }}
    </p>
    <ul>
      <li>
        <a href="https://johjakob.com/imprint">Imprint</a>
      </li>
      <li>
        <a href="https://johjakob.com/privacy">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>