@font-face {
  font-family: "SpaceGroteskVar";
  font-weight: normal;
  font-style: normal;
  src: url("/files/fonts/SpaceGroteskVariable.woff2") format("woff2");
  src: url("/files/fonts/SpaceGroteskVariable.ttf") format("truetype")
}

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: normal;
  font-style: normal;
  src: url("/files/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  src: url("/files/fonts/SpaceGrotesk-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: bold;
  font-style: normal;
  src: url("/files/fonts/SpaceGrotesk-Bold.woff2") format("woff2");
  src: url("/files/fonts/SpaceGrotesk-Bold.ttf") format("truetype")
}